<html>
    <head>
        <style>
            h1 { text-align: center; }
        </style>
    </head>
    <body>
        <h1>
            <%= @q.question %>
        </h1>
        <a href= "/answer?id=<%= question.id %> "Answer" </a>
    </body>
</html>